<style>
    a{
      color: white;
    }
    h2{
      color: white;
    }
  </style>
  
  <div class="container">
  
  
    <ul class="nav nav-tabs"> 
      <li class="nav-item">
          <h2>Room 2</h2>
      </li>


      <li class="nav-item">
          <a class="nav-link" routerLink="/room2temp">Temprature</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" routerLink="/room2humidity">Humidity</a>
      </li>
  
      
  
  
    </ul>  
    
    <div>
      <router-outlet></router-outlet>
    </div>
  
  </div>