<style>
  .list-item
  {
      margin-left:300px;
      margin-top:50px;
      color:white;
      box-sizing: border-box;
      width: 50%;
      border: 3px solid white;
      padding: 8px;
      font-size: 10px;
      background-color: transparent;
      float:left;
      border-radius: 25px;
      text-align: center;
  }

  .list-item1
  {
      margin-left:10px;
      margin-top:100px;
      color:white;
      box-sizing: border-box;
      width: 25%;
      height: 10%;
      border: 3px solid white;
      padding: 8px;
      font-size: 10px;
      background-color: rgb(124, 93, 26);
      float:left;
      border-radius: 25px;
      text-align: center;
  }

  .list-item2
  {
      margin-left:100px;
      margin-top:100px;
      color:white;
      box-sizing: border-box;
      width: 25%;
      border: 3px solid white;
      padding: 8px;
      font-size: 10px;
      background-color: rgba(26, 128, 0, 0.425);
      float:left;
      border-radius: 25px;
      text-align: center;
  }

  .list-item3
  {
      margin-left:100px;
      margin-top:100px;
      color:white;
      box-sizing: border-box;
      width: 25%;
      border: 3px solid white;
      padding: 8px;
      font-size: 10px;
      background-color: rgba(0, 0, 255, 0.315);
      float:left;
      border-radius: 25px;
      text-align: center;
  }
   
  body {
    background-color:#191919;
  }
  
  
  .button1{
      margin-top:0px;
      float:right;
      color: white;
      background-color: transparent; 
      border: 1px solid white;
      padding: 8px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      border-radius: 25px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

      
  p{
    /*height: 50px;*/
    font-size: 15px;
    color:white;
    margin-top:0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  h2{
    
    font-size: 30px;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          
  }

  body {           
      background-color:#832b2b;
  }
</style>

<body>
  
  <div class="list" id="list">
      <div class="list-item">
        <h1>Xirin</h1>
      </div>

      <div class="list-item1">
          <h2>Room Number 1</h2>
          <p>Average Temprature: 20</p>
          <p>Average Humditity: 10</p>
          <a class="button1" routerLink="/room1">View Details</a>
      </div>

      <div class="list-item2">
        <h2>Room Number 2</h2>
        <p>Average Temprature: 20</p>
        <p>Average Humditity: 10</p>
        <a class='button1' routerLink="/room2">View Details</a>
    </div>

    <div class="list-item3">
      <h2>Room Number 3</h2>
      <p>Average Temprature: 20</p>
      <p>Average Humditity: 10</p>
      <a class='button1' routerLink="/room3">View Details</a>
  </div>
      
  </div>
</body>